.contact{
    display:grid;
    grid-template-columns: auto auto;
    gap:10vw;
    padding:2%;
    border:10px groove #586994;
    border-radius: 6%;
    margin:2%;
    font-size: x-large;
    background-color: #a29c9b;
}
.contact h1{
    grid-column: 1 / span 2;
    display: flex;
    justify-content: center;
}

.contact__why,.contact__FAQ{
    display:flex;
    flex-direction: column;
    margin:0;
}
.contact-form{
    display: flex;
    flex-direction: column;
    gap:10%;
    width:100%;
    background-color: burlywood;
    border:1px groove #586994;
    padding:10px;
}
.contact-form__message{
   padding-bottom: 0;
}
.contact-form__button{
    font-size: larger;
    width:50%;
    cursor: pointer;
}
.contact-form__input {
    display: flex;
    flex-direction: column;
}

.contact-form__input input:focus {
    outline: 0;
}
.contact-form__input.success input {
    border-color: #088178;
}
.contact-form__input.error input {
    border-color: rgb(225, 70, 56);
}
.contact-form__input  .error {
    color: rgba(226, 59, 33, 0.876);
    font-size:20px;
    height: 13px;
}

@media(min-width:320px) and (max-width:480px){
    .contact{
        display:flex;
        flex-direction:column;
        border:5px groove #586994;
        padding:10vw;
    }
    .main.active{
        padding-top:30vh;
    }
    .contact-form{
        gap:5vh;
    }
}