.main{
    display: grid;
    grid-template-columns:auto auto;
    gap:10vw 10vw;
    justify-content:space-evenly;
    padding:0 5vw 5vw 5vw;
    background-color: #EEEEEE;
    
}
.service__image-in-main{
    width:100%;
    height:70%;
}

.main__header{
    display:flex;
    justify-content: center;
    grid-column:1/ span 2;
    color:black;
    text-shadow: 2px 2px 3px #b6a96e, 0 0 3px #764134;
    font-size: xx-large;
    font-weight: 700;
   
}

.main__service{
    display:flex;
    flex-direction:column;
    background-color:white;
    color:black;
    width:35VW;
    box-sizing: border-box;
    text-align: center;
    font-size: x-large;
    box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.2),
     10px 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.main__service:hover{
    position:relative;
    top:-10px;
    transition: 1s;
}
.main__service p , .main__service li{
   
    font-weight: 700;
}
.service__store-paragraph{
    padding:10%;
    word-wrap: break-word;
}

@media(min-width:320px) and (max-width:480px){
    .main{
        display:flex;
        flex-direction: column;
        align-items: center;
        padding:10vw;
    }
    .main.active{
        padding-top:30vh;
    }
    .main__service{
        font-size:medium;
        width:100%;
        margin:15px;
    }
    .main__header{
        font-size:large;
    }
    .main__section--responsive{
        display:flex;
        flex-direction:column;
        width:320px;
}
}