.about{
    display: flex;
    flex-direction: column;
    margin: 5% 20% 5% 20%;
}
 h1{
    font-size:79px;
    font-weight: 700;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 45%;
}
.about__mission{
   display: grid;
   grid-template-columns: auto auto;
}
.about__mission a{
    grid-column: 1 / span 2;
}
.about__mission__image{
    width:100%;
    height: 80%;

}
.about__story__image{
    width:500px;
}
.about__mission,.about__story,
.about__Goal{
    background-color: white;
    font-size: x-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:5%;
    box-shadow: 10px 10px 12px black;

}
@media(min-width:320px) and (max-width:480px){
    .about{
        display: flex;
        flex-direction: column;
        margin:0;
        padding:10vw;
    }
    .main.active{
        padding-top:30vh;
    }
    .about__story__image{
        width:100%;
    }
    .about__mission{
       display:flex;
       flex-direction: column;
     }
      h1{
        font-size:xx-large;
        padding-left:20%;
       
    }
   h2{
    font-size:x-large;
   }
}
