
.main{
    display:flex;
    flex-direction:column;
    padding:5vw 15vw 20vw 15vw;
    background-color: #EEEEEE;
}
.main__available-cereals-container{
    margin-bottom:15vw;
    text-align: center;
}
.main__available-cereals-container__paragraph{
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1px;
    font-size: large;
    font-weight: 500;
    word-break: break-all;
}
table,th,td{
    border:1px solid #82667f;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
    font-size:medium;
    font-weight: 600;
    height: 50px;
}
th{
    height: 70px;
    font-size: larger;
    background-color: #8d99ae;
}
.main__available-cereal-container__table{
    width:100%;
}
tr:nth-of-type(odd){
    background-color: #b7ad99;
}
tr:hover{
    background-color: #8a95a5;
}
.video-container{
    display:flex;
    flex-direction: column;
    align-items: center; 
}
.video-container__paragraph{
    font-size: x-large;
    font-weight: 700;
   
}
.video-container__video{
    border:10px groove #8d99ae;
    box-shadow: 5px 5px 8px #3f3f3f;
    width: 100%;
}


@media(min-width:320px) and (max-width:480px){
    .main{
        padding:10vw;
    }
    .main.active{
        padding-top:30vh;
    }
   
}